@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-Medium.ttf") format(truetype);
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-Bold.ttf") format(truetype);
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-SemiBold.ttf") format(truetype);
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-Light.ttf") format(truetype);
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/static/Oswald-ExtraLight.ttf") format(truetype);
    font-weight: 200;
    font-style: normal;

}

:root {

    --image-filter: none;
  
    /* font - .5rem = 8px | 1rem = 16px */
    --body-font: "Oswald", sans-serif;
    --h1-font-size: 1.65rem;
    --h2-font-size: 1.45rem;
    --h3-font-size: 1.25rem;
  
    --normal-font-size: 1.15rem;
    --small-font-size: 1rem;
  
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-light: 300;
  
    /* margenes */
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
  
    --card-padding: 1.9rem 0.95rem;
    --border-radius: 1.25rem;
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  
    --nb-slides: 5;
    --dot-size: 15px;
  }

  /* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    scroll-behavior: smooth;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
  
  body,
  button,
  input,
  textarea {
    font-family: var(--body-font);
    font-size: var(--bold-font-size);
  }
  
  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color-dark);
  }
  
  

  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-semi-bold);
  }
  
  h1 {
    font-size: var(--h1-font-size);
  }
  
  h2 {
    font-size: var(--h2-font-size);
  }
  
  h3 {
    font-size: var(--h3-font-size);
  }
  
  input {
    background-color: var(--color-white);
    color: var(--color-dark);
  }

.flex {
    display: flex;
}
header{
  background-color: rgb(233, 240, 232);
  z-index: 100;
}

.container{ 
  margin: 0 auto; 
  max-width: 1440px;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 101;
}

.nav-branding{
  font-size: 2rem;
  font-weight: var(--font-semi-bold);
}


.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: blue;
}

.hamburger{
  display: none;
  cursor : pointer; 
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0; 
    flex-direction: column;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0; 
  }

  .nav-menu.active{
    left: 0; 
  }
}
.header-box {
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
   
}

.header-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-center {
    margin: auto;
    padding-top: 1rem;
}

.dog-box {
    top: 0;
}
.dog-padding {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10rem;
  padding-bottom: 4rem;
}
.default-button {
  display: inline-block;
  border-radius: 1rem;
  background-color: black;
  color: aliceblue;
  padding: 10px 20px;
  max-width: fit-content;
}

.dog-container {
    position: relative;
    background-image: url("/assets/images/fatdog.jpg");
    background-size: cover; /* Масштабирование изображения для заполнения фона */
    background-position: 50% 50%; /* Положение изображения в центре фона */
    background-repeat: no-repeat; /* Запрет повторения изображения */
    background-color: rgba(0, 0, 0, 0.5);
}

.about-us-box {
margin: 50px;
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.person-first {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  margin: 2.5rem;
}

.persons-img-box {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 16px;
}
.persons-img-radius {
  position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.persons-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.persons-name {
  position: relative;
  font-size: 1.25rem;
  height: 1.2em;
  margin-bottom: 8px;
}

.persons-text-name {
  position: absolute;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0px;
  color: rgb(74, 74, 74);
}

.persons-city {
  position: relative;
  font-size: 1rem;
  height: 1em;
  margin-bottom: 8px;
}

.persons-text-city {
  position: absolute;
  width: 100%;
  height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0px;
  color: rgb(108, 108, 108);
}

.person-second {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  order: 1;
  margin: 2.5rem;
}

.person-third {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  order: 2;
  margin: 2.5rem;
}

.person-forth {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  order: 3;
  margin: 2.5rem;
}

.person-fifth {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  order: 4;
  margin: 2.5rem;
}

.person-sixth {
  flex-basis: 200px;
  max-width: calc(33.3333% - 16px);
  pointer-events: auto;
  order: 5;
  margin: 2.5rem;
}

.dog-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  height: 30rem;
}
.dog-content {
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

}
.dog-content > h1 {
  color: aliceblue;
  font-size: 5rem;
}
.dog-content > h2 {

  color: aliceblue;
  
}

.about-section{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  background-color: rgb(233, 240, 232);
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-picture{
  background-image: url("/assets/images/aboutme.jpg");
  background-size: cover; 
  background-position: 50% 50%; 
  background-repeat: no-repeat; 
  grid-row: 0;
}

.about-text-block{
  flex-direction: column;
  padding-left: 4rem;
  padding-top: 4rem;
 
}

.about-text-block > h1{ 
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.about-text-block > p{ 
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.deffault-btn{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: aliceblue;
  color: black;
  font-size: 1.2rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.reviews-section{
  margin-top: 20px;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.reviews-section > h1{
  font-size: 2.5rem;
  text-align: center;
}

.slider{
  margin-top: 3rem;
  overflow: hidden;
  width: 100%;
}

.slides{ 
  align-items: left;
  animation: switch-slides 10s infinite;
  width: 400%;
}

.slide{ 
  width: 25%;
  align-items: center;
  justify-content: center;
}


@keyframes switch-slides{ 
  0% {
    transform: translateX(0);
  }
  22%{
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  47%{
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  72%{
  transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  97%{
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0rem);
  }

}

.review{
  justify-content: center;
  align-items: center;
  width: 70%;
}

.review > img{ 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 8px;
  object-fit: cover; 
  justify-content: center;
  align-items: center;
}



.review-text{
  border-radius: 15px;
  padding: 20px;
  background-color: var(--secondary-color);
  text-align: inherit;
  margin-left: 20px;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(233, 240, 232);
  border-radius: 20px;
}

.review-text > p, .name, .job, .rating{
  max-width: 100%;
  font-size: var(--normal-font-size);
  margin: 5px;
}

@media(max-width:768px){
  .reviews-section > h1{
    font-size: 2rem;
  }

 .review{
  flex-direction: column;
 }

  .review > img{ 
    margin-bottom: 8px;
    height: 175px;
    width: 175px;
  }
  
  
}

.name{
  font-weight: bold;
}


.footer{ 
  height: 200px; 
  background-color: rgb(233, 240, 232);
  justify-content: center;
  gap: 20%;
}

.footer .pages, .contact-info{
  gap: 10px;
  margin-top: 3rem;
  flex-direction: column;
}